JARVIS_SECRET_TOKEN=jarvis_local_123
JARVIS_CORE_HOST=0.0.0.0
JARVIS_CORE_PORT=5004
JARVIS_CORE_DEBUG=false
JARVIS_CORE_DEV_MODE=false
JARVIS_MUSIC_HOST=jarvis-node.local
JARVIS_MUSIC_PORT=5005
JARVIS_ORCHESTRATOR_URL=http://jarvis-node.local:5006
JARVIS_OLLAMA_URL=http://localhost:11434
JARVIS_OLLAMA_MODEL=qwen2.5:0.5b
SERPAPI_KEY=
